@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic&subset=latin,cyrillic);

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-size: 24px;
	font-family: 'Noto Serif', serif;
}

a {
	color: #00e;
}

.wrapper {
	max-width: 650px;
	margin: 0 auto;
	text-align: justify;
}

img {
	display: block;
	width: 100%;
}

.condensed .wrapper {
	margin-top: 1em;
	margin-bottom: 1em;
}

.condensed p {
	margin-top: 0;
	margin-bottom: 0;
}

.links {
	background: #888 url(cover.jpg);
	padding: 1em 0.5em;
	line-height: 1em;
	color: #fff;
	text-shadow: #000 0 1px 2px;
}

.links a {
	color: #fff;
}

.cover {
	color: #000;
	text-shadow: #ccc 0 1px 2px;
}

.cover a {
	color: #fff;
	text-shadow: #000 0 1px 2px;
}

.cover .wrapper {
	height: 100%;
	background: #888 url(cover.jpg);
}

.cover .tbl {
	display: table;
	width: 100%;
	height: 100%;

	background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0.65)), color-stop(5%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
}

.cover .row {
	display: table-row;
	text-align: center;
}

.cover .chapter {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding: 0 30px;
}

.books .wrapper {
	text-align: left;
}

.books .list {
	font-size: 22px;
}

@media (max-width: 690px) {
	body {
		font-size: 16px;
	}

	.chapter {
		margin-left: 20px;
		margin-right: 20px;
	}

	.imgw {
		margin-left: -20px;
		margin-right: -20px;
	}

	.cover {
		font-size: 20px;
	}
}
