*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-size: 24px;
	font-family: "Noto Serif", serif;
}

a {
	color: #00e;
}

.wrapper {
	max-width: 650px;
	margin: 0 auto;
	text-align: justify;
}

img {
	display: block;
	width: 100%;
}

.condensed .wrapper {
	margin-top: 1em;
	margin-bottom: 1em;
}

.condensed p {
	margin-top: 0;
	margin-bottom: 0;
}

.links {
	background: #888 url(cover.jpg) repeat;
	padding: 1em 0.5em;
	line-height: 1em;
	color: #fff;
	text-shadow: #000 0 1px 2px;
}

.links a {
	color: #fff;
}

.cover {
	color: #000;
	text-shadow: #ccc 0 1px 2px;
}

.cover a {
	color: #fff;
	text-shadow: #000 0 1px 2px;
}

.cover .wrapper {
	position: relative;
	min-height: 100%;
}

.cover .outer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cover .inner {
	display: table;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	background: #888 url(cover.jpg) repeat;
}

.cover .row {
	display: table-row;
	text-align: center;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0.65)), color-stop(5%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 100%);
}

.cover .chapter {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	padding: 0 30px;
}

.list .wrapper {
	text-align: left;
	padding-bottom: 1em;
}

.list h1 {
	margin-bottom: 0;
}

.list .book {
	overflow: hidden;
}

.list .book h2 {
	float: left;
	line-height: 1em;
}

.list .book h3 {
	margin-bottom: 0;
	margin-left: 65px;
}

.list .book p {
	margin-top: 0;
	margin-left: 65px;
}

@media (max-width: 670px) {
	body {
		font-size: 16px;
	}

	.chapter {
		margin-left: 10px;
		margin-right: 10px;
	}

	.imgw {
		margin-left: -10px;
		margin-right: -10px;
	}

	.list .book h2 {
		width: 40px;
	}

	.list .book h3 {
		margin-left: 45px;
	}

	.list .book p {
		margin-left: 45px;
	}
}
